<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<link rel="stylesheet" href="style.css">
	<script>
		/*
		1. Add new bugs - done
		2. List the bugs - done
		3. Toggle the closed status of the bugs - done
		4. Remove closed bugs - done
		5. Display statistics - done
		6. Search for bugs - done
		7. Sort the bugs
		8. Improvise bug display
		9. Persist the bugs in the localStorage
		10. Display 'createdAt' for the bugs
		11. Persist the bugs in the server
		12. Make the bugs accessible using an URL
		*/

	</script>
	<script src="angular.js"></script>
	<script>

		
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		bugTrackerApp.value("defaultBugName", '[Default Bug]');

		bugTrackerApp.factory('bugOperations', function(defaultBugName){
			var maxBugId = 0;
			return {
				toggle : function(bug){
					bug.isClosed = !bug.isClosed;
				},
				createNew : function(bugName){
					return {
						id : ++maxBugId,					
						name : bugName || defaultBugName,
						isClosed : false
					};
				}
			}
		});


		bugTrackerApp.controller("bugsController", function($scope, bugOperations){
			var maxBugId = 0;
			$scope.bugs = [
				bugOperations.createNew("Object reference not found"),
				bugOperations.createNew("Server communication failure"),
				bugOperations.createNew("User authentication is wrong"),
				
			];

			$scope.addNew = function(bugName){
				var newBug = bugOperations.createNew(bugName)
				$scope.bugs.push(newBug);
			};

			$scope.toggle = function(bug){
				bugOperations.toggle(bug);
			};

			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			};

			$scope.getClosedCount = function(){
				var closedCount = 0;
				for(var i=0; i<$scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++closedCount;
				return closedCount;
			};

		});

	</script>
	
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{getClosedCount()}}</span>
			<span>/</span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug=''">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add New" ng-click="addNew(newBugName)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in (bugs | filter:searchBug)" 
					ng-class="{closed : bug.isClosed}">
					<span class="bugname" ng-click="toggle(bug)">{{bug}}</span>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</div>
</body>
</html>