<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<link rel="stylesheet" href="style.css">
	<script>
		/*
		1. Add new bugs - done
		2. List the bugs - done
		3. Toggle the closed status of the bugs - done
		4. Remove closed bugs - done
		5. Display statistics - done
		6. Search for bugs - done
		7. Sort the bugs - done
		8. Improvise bug display - done
		9. Persist the bugs in the localStorage - done
			window.localStorage
			===================
			1. key/value store
			2. Value must be a string 
				Use angular.toJson() and angular.fromJson() for serialization and deserialization 
			3. APIs
				* setItem(key, value)
				* getItem(key) => value
				* removeItem(key)
				* clear()
				* key(index) => key at index
				* length

		10. Display 'createdAt' for the bugs
		11. Persist the bugs in the server
		12. Make the bugs accessible using an URL
		*/

	</script>
	<script src="moment.js"></script>
	<script src="angular.js"></script>
	<script src="utils.js"></script>
	<script>

		
		
		var bugTrackerApp = angular.module("bugTrackerApp", ["utils"]);

		bugTrackerApp.value("defaultBugName", '[Default Bug]');

		bugTrackerApp.service('bugOperations', function(defaultBugName){
			
			this.toggle = function(bug){
				bug.isClosed = !bug.isClosed;
			};
			this.createNew = function(id, bugName){
				return {
					id : id,					
					name : bugName || defaultBugName,
					isClosed : false,
					createdAt : new Date()
				};
			};
			
		});

		bugTrackerApp.factory("bugStorage", function(bugOperations, $window){
			var storage = $window.localStorage;
			var maxBugId = 0;
			function getAllBugs(){
				var result = [];
				for(var i=0; i< storage.length; i++){
					var data = storage.getItem(storage.key(i));
					var bug = angular.fromJson(data);
					maxBugId = maxBugId > bug.id ? maxBugId : bug.id;
					result.push(bug);
				}
				return result;
			}

			function addNewBug(bugName){
				var newBug = bugOperations.createNew(++maxBugId, bugName);
				saveBug(newBug);
				return newBug;
			}
			function saveBug(bug){
				storage.setItem(bug.id, angular.toJson(bug));
			}
			function toggleBug(bug){
				bugOperations.toggle(bug);
				saveBug(bug);
			}
			function removeBug(bug){
				storage.removeItem(bug.id);
			}
			return {
				getAll : getAllBugs,
				add : addNewBug,
				toggle : toggleBug,
				remove : removeBug
			};
		});


		bugTrackerApp.controller("bugsController", function($scope, bugStorage){
			
			$scope.bugs = bugStorage.getAll();

			$scope.addNew = function(bugName){
				var newBug = bugStorage.add(bugName);
				$scope.bugs.push(newBug);
			};

			$scope.toggle = function(bug){
				bugStorage.toggle(bug);
			};

			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0; i--)
					if ($scope.bugs[i].isClosed){
						bugStorage.remove($scope.bugs[i]);
						$scope.bugs.splice(i,1);
					}
			};
		});
		

		//Implementation - 4
		bugTrackerApp.filter('closedCount', function(){
			return function(bugs){
				return bugs.reduce(function(prevResult, bug){
					return bug.isClosed ? ++prevResult : prevResult;
				},0);
			};
		});

		

	</script>
	
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{bugs | closedCount}}</span>
			<!-- <span class="closed"> {{ (bugs | filter:{isClosed : true}).length }}</span> -->
			<span>/</span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug=''">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<select ng-model="sortBugsBy">
				<option value="name">Name</option>
				<option value="isClosed">Status</option>
			</select>
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="orderByDescending">
		</section>
		<section class="edit">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add New" ng-click="addNew(newBugName)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in (bugs | filter:searchBug | orderBy:sortBugsBy:orderByDescending)" >
					<span class="bugname" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">
						{{bug.name | trimText:20}}
					</span>
					<span class="elapsed">{{bug.createdAt | elapsed}}</span>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</div>
</body>
</html>